<ion-view view-title="Enroll Station">
  <ion-content>
    <!-- <label class="item item-input">
  <span class="input-label">Username</span>
  <input type="text">
</label> -->

<!--         <form ng-click="createTask()">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="What do you need to do?" ng-model="task">
            </label>
        </div>
        <div class="padding">
            <button ng-click="createTask()" class="button button-block button-positive" ng-controller="LoadingCtrl">Create Task</button>

        </div>
    </form>    -->

<!-- <form id="form">
    <input type="text" id="userInput" />
    <button ng-controller="AccountCtrl" ng-click="othername()" />
</form> -->
<!-- <h4>Insert the Station Name</h4> --><br><br>
<form id="form">
<label class="item item-input" >
  <!-- <span class="input-label"></span> -->
  <input type="text" id="userInput" placeholder="Station Name"></label><br>
<!--   <button class="button button-assertive" ng-controller="AccountCtrl" ng-click="othername()">Enroll to the Station </button> -->
<center><a class="button button-assertive" href="#/tab/friends" ng-controller="AccountCtrl" ng-click="othername()">ENROLL</a></center>
</form>
<!--     </ion-list> -->
  </ion-content>
</ion-view>